<h1>test</h1>
<%= link_to "lien pst model", posts_path %>
</br>
<%= link_to "home page1", home_page1_path %>
</br>
<%= link_to "home page2", home_page2_path %>
</br>
<%= link_to "home", home_index_path %>
</br>
<%= link_to "drsses", drsses_path %>
</br>
<%= link_to "trousers", trsers_path %>
</br>
<p>works</p>
